@CHARSET "UTF-8";
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.album_main{
	width:1024px;
	margin:0px auto;
	background:#fff;
	margin-top:20px;
}
.album_title{
	width:100%;
	line-height:30px;
	float:left;
	margin-top:60px;
	margin-bottom:-30px;
}
.album_title h3{
	line-height:30px;
	font-size:20px;
	margin:0px 40px;	
	font-weight:normal;
}
.album_content{
	width:100%;
	overflow:auto;
	margin:0px auto;
	margin-top:50px;
	padding-top:50px;
}
.album_result{
	width:1000px;
	margin:0 auto;
	overflow:auto;
	margin-left:15px;
}
.album_img{
	width:220px;
	margin-left:20px;
	float:left;
}
.album_name{
	width:220px;
	line-height:30px;
	text-align: center;
}
.album_name a{
	font-size: 13px;
}
.page {
	margin-top:30px;
	width:100%;
	text-align: center;
	height: 35px;
    float:left;
}

.page ul {
	margin: 0 auto;
	overflow: hidden;
	text-align:center;
}

.page ul li{
	display:inline-block;
}

.page a {
	float: left;
	margin-right: 5px;
	padding: 4px 8px 3px;
	/* height: 18px; */
	border: 1px solid #CDCDCD;
	white-space: nowrap;
}

.page a:hover {
	border: 0;
	padding: 5px 9px 4px;
	color: #fff;
	background: #1C86EE;
}

.nowpage {
	color: #fff;
	background: #1C86EE;
	border: 0;
	padding: 5px 9px 4px;
}

.noneAlbum{
	font-size: 18px;
	font-family: "Microsoft YaHei";
	margin-top:40px;
	margin-left:450px;
	margin-bottom: 100px;
}














