@CHARSET "UTF-8";
.person_topic{
	width:790px;
	font-family: "Microsoft Yahei";
	font-size: 18px;
	padding-top:10px;
}
.personal_table{
	margin:10px auto;
	margin-left:10px;
}
.personal_table tr{
	height:80px;
}
.td1{
	width:90px;
	font-family: "Microsoft Yahei";
	font-size: 16px;
}
.td2{
	width:310px;
	font-family: "Microsoft Yahei";
	font-size: 15px;
}